@font-face {
    font-family: RiotFont;
    src: url(./src/fonts/Friz\ Quadrata\ Regular.ttf) format("truetype");
    font-weight:400;
    font-style:normal;
    font-display:swap
}

:root {
    --text-color: hsl(0, 0%, 100%);
    --hover-color: hsl(359, 64%, 52%);
    --selector-color: hsl(0, 100%, 50%);
    --selector-bg-color: hsla(180, 100%, 25%, 0.8);
}

::selection {
    background: var(--selector-bg-color);
    color: var(--selector-color);
}

* {
    scroll-behavior: smooth;
    scrollbar-color: hsl(202, 5%, 29%) hsl(195, 6%, 13%) !important;
    text-shadow: 2px 2px 4px #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    color: var(--text-color) !important;
    background-image: url('./src/images/background.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-attachment: fixed;
    background-color: hsl(195, 18%, 4%) !important;
    padding: .8em;
}

#up-btn {
    opacity: 0;
    cursor: no-drop;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 50px;
    height: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 20%);
    cursor: pointer;
    border-radius: 100%;
    transition: ease-in-out 250ms;
}

#up-btn:hover {
    bottom: 23px;
    transform: translate(0, -6px) !important;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 33%);
}

.circle {
    width: 50px;
    height: 50px;
    padding: 45px;
    background-color: hsl(0, 0%, 100%);
}

.hero-title {
    color: rgb(197, 193, 189);
}

.hero-title, .hero-subtitle {
    font-family: RiotFont;
}

.hero-sub__link {
    color: inherit;
    transition: color .2s ease-in-out;
}

.hero-sub__link:hover {
    color: var(--hover-color)
}

.breakline {
    color: hsl(0, 0%, 50%);
    margin: 2rem auto;
    width: 95%;
    height: 1px;
    background-color: rgb(197, 193, 189);
}

#navbar-wrapper {
    color: hsl(0, 0%, 100%);
    z-index: 1000;
}

.nav-items {
    letter-spacing: .3vh;
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding-left: 0px;
}

.navbar-container nav ul div {
    list-style: none;
    margin: 0 4rem;
}

.navbar-container nav ul div a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: color .3s ease-in-out;
}

.navbar-container nav ul div a:hover {
    color: var(--hover-color);
}

.custom__grid-image {
    box-shadow: 10px 10px 14px hsl(0, 0%, 0%);
    width: 80%
}

.custom__grid-r-image {
    transform: translateX(15%) translateY(-25%) !important;
    box-shadow: -10px 10px 14px hsl(0, 0%, 0%);
    width: 80%
}

.custom__grid-text {
    font-size: 1.5rem;
}

#footer-wrapper {
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .6);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

.footer-text {
    font-size: 1.2rem;
    color: hsl(0, 0%, 100%) !important;
}

.footer-text a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease-in-out;
}

.footer-text a:hover {
    color: var(--hover-color);
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "hero__grid-title hero__grid-title"
      "grid-text grid-image"; 
}

.hero__grid-title { grid-area: hero__grid-title; }
.grid-text { grid-area: grid-text; }
.grid-image {
    position: relative;
    transform: translateY(-25%) !important;
    justify-self: center;
    align-self: center; 
    grid-area: grid-image;
}

.grid-title {
    font-family: cursive;
    color: hsl(30, 6%, 76%);

}

@media screen and (max-width: 768px) {
    #hero-wrapper {
        margin-bottom: 2rem;
    }

    .nav-items {
        letter-spacing: .1vh;
    }

    .navbar-container nav ul div {
        list-style: none;
        margin: 0 1rem;
    }

    .container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "hero__grid-title hero__grid-title"
          "grid-text grid-text"
          "grid-image grid-image"; 
    }

    .hero__grid-title {
        justify-self: center; 
        align-self: center; 
        grid-area: hero__grid-title; 
    }

    .grid-text { grid-area: grid-text; }
    .grid-image { grid-area: grid-image; }
}
