@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

* {
    scrollbar-color: #454a4d #202324;
}

body,
html {
    margin: 0;
    padding: 0;
    background-image: url(/images/background.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    scroll-behavior: smooth;
}

@font-face {
    font-family: AlphaCentauri;
    src: url(/fonts/AlphaCentauri/AlphaCentauri.woff2) format("woff2"),
    url(/fonts/AlphaCentauri/AlphaCentauri.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rajdhani;
    src: url(/fonts/Rajdhani/Rajdhani-Regular.woff2) format("woff2"),
    url(/fonts/Rajdhani/Rajdhani-Regular.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RandyGG;
    src: url(/fonts/RandyGG/RandyGGRegular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: RandyGG;
    src: url(/fonts/RandyGG/RandyGGBold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}
    /* LOADER STYLES */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: 6px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}
